<section class="relative">
  <!-- HEADER SECTION -->
  <header id="header" class="min-h-200 pt-14 blue-gradient">
    <nav class="container mx-auto flex justify-start">
      <!-- App Logo -->
      <a class="text-3xl text-white-400 font-bold uppercase mr-4" href="index.html">
        <img src="assets/img/dark-logo.svg" alt="logo">
      </a>

      <div class="flex flex-grow items-center">
        <!-- Primary Navigation -->
        <ul class="flex flex-row mt-1">
          <!-- Navigation Links -->
          <li>
            <a class="px-3" href="#">Home</a>
          </li>
          <li>
            <a class="px-3" href="#">Product</a>
          </li>
          <li>
            <a class="px-3" href="#">Pricing</a>
          </li>
          <li>
            <a class="px-3" href="about.html">About</a>
          </li>
          <li>
            <a class="px-3" href="about.html">Contact</a>
          </li>
        </ul>

        <!-- subscription form -->
        <form action="" class="w-full max-w-sm">
          <div class="md:flex md:items-center">
            <div class="md:w-2/3">
              <input type="text" placeholder="Your Email" class="py-2 px-4  rounded-lg text-black focus:border-0">
            </div>
            <div class="md:w-1/3">
              <button class="shadow focus:shadow-outline focus:outline-none blue2-bg py-2 px-4 rounded-xl bg-white">Subscribe</button>
            </div>
          </div>
        </form>
      </div>
      
    </nav>

    <div class="relative">
      <div class="container mx-auto px-10 py-24 text-center">
        <h1 class="mb-7 text-xl">At your fingertips</h1>
        <p class="text-5xl font-bold mb-10">Lightning fast prototyping</p>
        <p class=" font-medium mb-20">Most calendars are designed for teams. Slate is designed for freelancers</p>
        <button class="inline-block text-lg blue2-bg py-3 px-12 rounded-2xl bg-white font-bold">Try For Free</button>
        <div class="relative">
          <img class="absolute top-12 laptop" src="assets/img/Macbook-Pro.png" alt="logo">
        </div>
      </div>
    </div>
  </header>

  <!-- CURVED GRADIENT -->
  <div class="custom-shape-divider-bottom-1644225694">
    <svg class="absolute" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <defs>
        <linearGradient id="curve" gradientTransform="rotate(120)">
          <stop offset="0.79%" stop-color="#00f3b9" />
          <stop offset="79.29%" stop-color="#2187ff"></stop>
        </linearGradient>
      </defs>
      <path
        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
        class="shape-fill">
      </path>
    </svg>
  </div> 
 
</section>

<!-- TOP FEATURES SECTION -->
<section id="features" class="mt-20">
  <div class="relative">
    <div class="container mx-auto px-10 py-24 text-center">
      <h1 class="mb-6 black-text text-xl">At your fingertips</h1>
      <h2 class="black-text text-5xl mb-7">Features</h2>
      <p class="black-text-2 font-medium mb-20">Most calendars are designed for teams. Slate is designed for freelancers</p>
      <div class="lg:flex lg:space-x-16 space-y-8 lg:space-y-0">
        <!-- left column -->
        <div class="lg:w-2/3 text-black leading-relaxed">
          <img src="assets/img/scrn.png" alt="">
        </div>
        <!-- right column -->
        <div class="flex-grow space-y-4 text-lg">
          <div class="flex bg-white">
            <div class="w-1/5 m-0"><img class="m-0" src="assets/img/menu-icon.svg" alt=""></div>
            <h3 class="w-4/5 black-text font-bold">At your fingertips</h3>
          </div>
          <p class="black-text">state helps you see how many more ways you need to work to reach your financial goal</p>
          
          <div class="flex bg-white">
            <div class="w-1/5"><img src="assets/img/menu-icon.svg" alt=""></div>
            <h3 class="w-4/5 black-text font-bold">At your fingertips</h3>
          </div>
          <p class="black-text">state helps you see how many more ways you need to work to reach your financial goal</p>
          
          <div></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- PROTOTYPE SECTION -->
<section id="prototype" class="blue-gradient mt-20">
  <div class="relative">
    <div class="container mx-auto px-10 py-24 text-center">
      <h1 class="mb-7 text-xl">At your fingertips</h1>
      <p class="text-5xl mb-10">Lightning fast prototyping</p>
      <p class=" font-medium mb-20">Most calendars are designed for teams. Slate is designed for freelancers</p>
      <button class="inline-block text-lg blue2-bg py-3 px-12 rounded-2xl bg-white font-bold">Buy Now</button>
      <button class="inline-block text-lg py-3 px-12 ml-4 rounded-2xl bg-transparent border-solid border-2 border-white-100 font-bold">Try for free</button>
    </div>
  </div>
</section>

<!-- MAIN NEWSLETTER -->
<section id="main-newsletter" class="py-12">
  <div class="container py-12 mx-auto">
    <div class="relative">
      <div class="flex flex-wrap">
        <div class="w-full md:w-1/2 px-3">
          <div class="max-w-md">
            <img src="assets/img/newsletter-pic.svg" alt="">
          </div>
        </div>
        <div class="w-full md:w-1/2 px-3 text-black black-text text-center">
          <div class="max-w-md">
            <h1 class="mb-7 text-xl">At your fingertips</h1>
            <p class="text-5xl mb-10">Lightning fast prototyping</p>
            <p class=" font-medium mb-20">Subscribe to our newsletter</p>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>

<!-- PARTNERING BRANDS -->
<section id="brands" class="mt-20 pb-20">
  <div class="relative">
    <div class="container mx-auto px-10 py-18 text-center">
      <h2 class="black-text text-3xl mb-7">Partners</h2>
      <p class="black-text-2 font-medium mb-10">Most calendars are designed for teams. Slate is designed for freelancers</p>
      <div class="flex flex-wrap items-center justify-center max-w-4xl mx-auto pt-4 pb-6">
        <!-- icons -->
        <div class="md:w-1/3 lg:w-1/6 mb-8">
          <img class="mx-auto" src="assets/img/app-store-logo.svg" alt="">
        </div>
        <div class="md:w-1/3 lg:w-1/6 mb-8">
          <img class="mx-auto" src="assets/img/tesla-logo.svg" alt="">
        </div>
        <div class="md:w-1/3 lg:w-1/6 mb-8">
          <img class="mx-auto" src="assets/img/android-logo.svg" alt="">
        </div>
        <div class="md:w-1/3 lg:w-1/6 mb-8">
          <img class="mx-auto" src="assets/img/awala-logo.svg" alt="">
        </div>
        <div class="md:w-1/3 lg:w-1/6 mb-8">
          <img class="mx-auto" src="assets/img/app-store-logo.svg" alt="">
        </div>
        <div class="md:w-1/3 lg:w-1/6 mb-8">
          <img class="mx-auto" src="assets/img/ibm-logo.svg" alt="">
        </div>
      </div>
      <button class="inline-block text-lg py-3 px-12 rounded-2xl blue-bg font-bold text-white">Try For Free</button>
    </div>
  </div>
</section>

<!-- CONTACT US -->
<section id="contact p-20">
  <div class="relative">
    <div class="container mx-auto p-10 mb-20 text-center shadow rounded-xl">
      <h1 class="text-2xl black-text font-bold pb-10">Contact Us</h1>
      <form action="">
        <input type="text" class="border border-grey shadow p-3 w-full rounded-xl mb-10" placeholder="Your Name">
        <input type="text" class="border border-grey shadow p-3 w-full rounded-xl mb-10" placeholder="Your Email">
        <button class="block w-full bg-blue-500 rounded-xl p-4">Send</button>
      </form>
    </div>
  </div>  
</section>

<!-- FOOTER SECTION -->
<section id="footer">
  <div class="py-24 black-bg relative text-white">
    <div class="relative container mx-auto px-10">
      <!-- footer top -->
      <div class="lg:flex justify-between space-y-12 lg:space-y-0">
        <!-- links -->
        <div class="text-center lg:text-left md:flex md:justify-center md:space-x-8 space-y-8 md:space-y-0">
          <div class="space-y-2">
            <p class="font-bold">Pages</p>
            <a href="#" class="block hover:text-white-800 hover:underline">Product</a>
            <a href="#" class="block hover:text-white-800 hover:underline">Pricing</a>
            <a href="#" class="block hover:text-white-800 hover:underline">About</a>
            <a href="#" class="block hover:text-white-800 hover:underline">Contact</a>
          </div>


          <div class="space-y-2">
            <p class="font-bold">Tomothy</p>
            <a href="#" class="block hover:text-white-800 hover:underline">Eleanor Edwards</a>
            <a href="#" class="block hover:text-white-800 hover:underline">Ted Robertson</a>
            <a href="#" class="block hover:text-white-800 hover:underline">Annette Russell</a>
            <a href="#" class="block hover:text-white-800 hover:underline">Gloria Richards</a>
          </div>

          <div class="space-y-2">
            <p class="font-bold">Jane lack</p>
            <a href="#" class="block hover:text-white-800 hover:underline">Phillip Jones</a>
            <a href="#" class="block hover:text-white-800 hover:underline">Product</a>
            <a href="#" class="block hover:text-white-800 hover:underline">Colleen Russell</a>
            <a href="#" class="block hover:text-white-800 hover:underline">Marvin Hawkins</a>
            <a href="#" class="block hover:text-white-800 hover:underline">Bruce Simmons</a>
          </div>
        </div>

        <!-- newsletter -->
        <div class="flex flex-col justify-center">
          <form action="" class="">
            <input type="email" placeholder="Your Email" class="py-1 px-2 rounded-lg">
            <button class="blue-bg py-1 px-2 rounded-lg">Subscribe</button>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>


